@font-face {
    font-family: 'Arial GEO BoldItalic';
    src: url('../fonts/fonts1/arial-geo-bolditalic-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/fonts1/arial-geo-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/fonts1/arial-geo-bolditalic-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/fonts1/arial-geo-bolditalic-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/fonts1/arial-geo-bolditalic-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/fonts1/arial-geo-bolditalic-webfont.svg#arial_geobolditalic') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Redressed';
    src: url('../fonts/fonts2/Redressed-Regular.eot');
    src: url('../fonts/fonts2/Redressed-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fonts2/Redressed-Regular.woff2') format('woff2'),
        url('../fonts/fonts2/Redressed-Regular.woff') format('woff'),
        url('../fonts/fonts2/Redressed-Regular.ttf') format('truetype'),
        url('../fonts/fonts2/Redressed-Regular.svg#Redressed-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}